<footer class="fixed bottom-0 left-0 right-0 z-50 flex flex-col md:flex-row items-center justify-center md:justify-between gap-2 px-4 py-3 md:py-5 md:px-8 bg-black text-white text-sm">
  <p class="text-xs sm:text-sm">&copy; 2026 Ahmed Goda. All rights reserved.</p>

  <div class="flex items-center gap-4 text-gray-400">
    <a href="https://github.com/ahmed-mahmoud-goda" target="_blank" class="hover:text-white transition-colors">
      <fa-icon [icon]="github" size="lg" />
    </a>
    <a href="https://www.linkedin.com/in/ahmedelashrawy" target="_blank" class="hover:text-blue-400 transition-colors">
      <fa-icon [icon]="linkedin" size="lg" />
    </a>
    <a href="https://wa.me/+201143672751" target="_blank" class="hover:text-green-500 transition-colors">
      <fa-icon [icon]="whatsapp" size="lg" />
    </a>
    <a href="mailto:ahmed-goda@hotmail.com" class="hover:text-red-400 transition-colors">
      <fa-icon [icon]="email" size="lg" />
    </a>
  </div>
</footer>