@import 'tailwindcss';

html, body {
  margin: 0;
  height: 100%;
  background: black;
}

@keyframes slideUp {
  0%, 40%  { transform: translateY(0); }
  50%, 90% { transform: translateY(-50%); }
  100%     { transform: translateY(0); }
}
