@import 'tailwindcss';

html, body {
  overflow-x: hidden;
}

@keyframes slideUp {
  0%, 40%  { transform: translateY(0); }
  50%, 90% { transform: translateY(-50%); }
  100%     { transform: translateY(0); }
}
